body {
    margin: 0px;
    padding: 0px;

    background-color: #000;
    background-image: url("logo.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    /* font-family: garamond; */
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;

    color: #fff;

    overflow: hidden;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin-bottom: 12px;
}

.hb {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid #FFF;
    padding: 5px;
}

.hb_l, .hb_c, .hb_r {
    display: flex;
    align-items: center;
    width: 30vw;
}

.hb_l {
    justify-content: left;
    align-items: center;
    font-size: large;
    cursor: pointer;
}

.hb_c {
    justify-content: center;
    align-items: center;

    font-size: x-large;
}

.hb_r {
    justify-content: right;
    align-items: center;

    font-size: large;
    gap: 20px;
}

.hb_r_item {
    cursor: pointer;
}



.main {
    /* outline: 1px solid lime; */
    margin: 25px;
    padding: 25px;
}

.gigs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* outline: 1px solid red; */
    margin: 25px;
    padding: 25px;
}

.gig_card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #00000060;

    outline: 2px solid #fff;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    height: 50px;
    width: 30%;
}

.gig_date {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;
}

.gig_year {
    position: absolute;
    font-size: 60px;
    color: #202020;
}

.gig_month {
    /* position: absolute; */
}

.gig_day {
    /* position: absolute; */
}

.gig_subdate {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;
}

.gig_city {
    /* width: 50%; */
}

.gig_tickets {
    width: 50px;
}

.hidden {
    display: none;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_tb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.spotify_logo {
    width: 20px;
    padding: 10px;
    filter: invert(1);
}

.instagram_logo {
    width: 20px;
    padding: 10px;
}

.upcoming_gigs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
}

.upcg {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 150%;
    padding: 2px;
    margin: 3px;
    transition-duration: 250ms;
    outline: 1px solid #e0e0e000;
    border-radius: 5px;

    cursor: pointer;
}

.upcg:hover {
    outline: 1px solid #e0e0e0ff;
    background-color: #00000060;
}

.gig_tmp_big_hidden {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
}

.gig_tmp_big {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
}

.gt_container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.gt_container2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.gt_location {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;

    padding: 5px;
    border-radius: 12px;
    background-color: #ffffff20;
}

.gt_datetime {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;

    padding: 5px;
    border-radius: 12px;
    background-color: #ffffff20;
}

.gt_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    /* padding: 5px; */
    border-radius: 12px;
    background-color: #ffffff20;
    height: 100px;
}

.gt_city, .gt_date {
    font-size: xx-large;
}

.gt_venue, .gt_time {
    font-size: large;
}

.gt_info_img {
    width: 50px;
    height: 50px;
}

.gt_poster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.gt_info_img {
    margin: 5px;
}

.gt_inf, .gt_tix, .gt_otd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-size: medium;
    width: 100px;
    /* height: 50px; */
}
